.btnG{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    border: none;
}

.btnDP{
    background-color: black;
    color: white;
}

.btnD{
    background-color: rgb(255, 0, 64);
    color: white;
}